.calendar {
    flex: 4;
}

.react-calendar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.react-calendar__viewContainer {
    flex: 1 1 auto;
}

.react-calendar__navigation {
    flex: 0 1 50px;
}

.react-calendar__navigation .react-calendar__navigation__label {
    font-size: 1.5em;
}

.react-calendar__month-view__days {
    height: calc(100vh - 220px);
}

.react-calendar__month-view__days__day {
    font-size: 1.5em;
}

.react-calendar__month-view__weekdays {
    font-size: 1.2em;
}
